* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  color: var(--text-color);
  background-color: var(--background-color);
  line-height: 1.6;
}

main {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem;
}

section {
  margin-bottom: 3rem;
}

h1, h2, h3 {
  color: var(--secondary-color);
}
