.header {
  background-color: var(--light-gray);
  border-bottom: 1px solid #e5e7eb;
}

.navbar {
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem 1.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: none;
  flex-direction: column;
  background-color: var(--light-gray);
  position: absolute;
  top: 70px;
  right: 20px;
  padding: 1rem;
  border-radius: 6px;
}

.nav-links li {
  cursor: pointer;
  font-weight: 500;
}

.nav-links.open {
    display: flex;
  }

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.menu-btn {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}


@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
}

@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }
}